@model IEnumerable<CqrsWithMediatR.Models.Customer>

@{
    ViewData["Title"] = "Index";
}



<div class="card">
    <div class="card-header">
        <h2 class="d-inline-block mb-0">
            <strong>Customer List</strong>
        </h2>
        <a class="btn btn-success float-right" asp-action="Create">Create New</a>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostalCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th style="min-width: 190px">Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostalCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Country)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.CustomerId">Details</a>
                                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8">No data found in the database!</td>
                        </tr>
                    }

                }

            </tbody>
        </table>
    </div>
</div>



