@model CqrsWithMediatR.Domain.Entities.Customer

@{
    ViewData["Title"] = "Details";
}



<div class="card">
    <div class="card-header">
        <h2><strong>Customer Details</strong></h2>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Customer Name</label>
                <div class="col-sm-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.CustomerName)
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Company Name</label>
                <div class="col-sm-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.CompanyName)
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Address)
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">City</label>
                <div class="col-sm-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.City)
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Postal Code</label>
                <div class="col-sm-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.PostalCode)
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Country</label>
                <div class="col-sm-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Country)
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Phone)
                    </div>
                </div>
            </div>
        </form>
    </div> 
    <div class="card-footer">
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>
</div>


